#Client .owl-theme .owl-dots .owl-dot span{
    background:black;
}
#Client .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #ffc221;
} 
#Client .owl-theme .owl-dots .owl-dot span{
    height: 20px;
    width: 20px;
    border-radius: 20px;
}
.owl-theme .owl-nav.disabled + .owl-dots{
    display: flex;
}
#Client{
    background: url(../../../public/images/bg.jpg); 
    
    background-size: cover;
    width: 100%;
    box-shadow: 0px 0px 8px 0px;
    /* background-image:; */
    background-repeat: no-repeat;
    background-position: center;
}