*{
  margin: 0%;padding: 0%;
}
body{
  /* background-color: red; */
  font-family: 'poppins', sans-serif !important;
}
#Header .Header-first{
  background-color: #ffc221;
}
#Header .btn-outline:hover{
  color: white !important;
  background-color: black !important;
}
#Header .collapse li a:hover{
  color: #ffc221 !important;
}
#Header .collapse a.active{
  color: #ffc221 !important;
}

/* carouselExampleControls */
#carouselExampleControls .carosal-content h5{
  font-size: 13vh;
}
#carouselExampleControls .carosal-content{
  margin-left: 7%;
}
#carouselExampleControls .carosal-content .btn-content{
  background-color: #ffc221;
  color: white;
  border-radius: 30px 1px 30px 30px;
}
#carouselExampleControls .carosal-content .btn-content:hover{
  background-color: black;
}
#main_slider .bi-chevron-left{
  color: #ffc221 !important;
}
 .carousel-control-next:hover,.carousel-control-prev:hover{
  background-color: #ffc221 !important;
 }
 .carousel-control-next, .carousel-control-prev{
  opacity: 1.5 !important;
 }
 #services{
  background-color: red !important;
 }
 #Product .Headline hr{
  opacity: 1.25 !important;
}
 

@media(max-width:320px) { 
  #carouselExampleControls .carousel-inner,#carouselExampleControls  img{
    height: 50vh;
  }
  #carouselExampleControls .carosal-content h5{
    font-size: 6vh;
  }

  
}